{erl_opts, [debug_info]}.
{deps, [
  {goldrush, {git, "git://github.com/DeadZen/goldrush.git", {branch, master}}},
  {switchboard, {git, "git@github.com:SlideMail/switchboard.git", {branch, master}}},
  {apns4erl, {git, "git://github.com/inaka/apns4erl.git", {branch, master}}},
  {recon, {git, "git://github.com/ferd/recon.git", {tag, "2.2.1"}}}
]}.

{relx, [{release, {'pushpop', "0.1.0"},
         ['pushpop',
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
