{erl_opts, [debug_info]}.
{deps, [
  {switchboard,
    {git, "https://github.com/thusfresh/switchboard.git",
    {branch, "master"}}},
  {apns4erl,
    {git, "https://github.com/inaka/apns4erl.git",
    {branch, "master"}}},
  {webmachine,
    {git, "https://github.com/basho/webmachine.git",
    {branch, "master"}}}
]}.
